antlr4-python3-runtime==4.9.3
attrs==23.1.0
black==23.3.0
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==2.2.1
coloredlogs==15.0.1
daemoniker==0.2.3
dill==0.3.6
exceptiongroup==1.1.1
gym==0.21.0
humanfriendly==10.0
hydra-core==1.3.2
idna==3.4
importlib-resources==5.12.0
iniconfig==2.0.0
Jinja2==3.1.2
jsonlines==3.1.0
lxml==4.9.2
MarkupSafe==2.1.3
multiprocess==0.70.14
mypy-extensions==1.0.0
numpy==1.24.3
omegaconf==2.3.0
opencv-python==4.7.0.72
packaging==23.1
pathspec==0.11.1
Pillow==9.5.0
platformdirs==3.5.3
pluggy==1.0.0
praw==7.7.0
prawcore==2.3.0
psutil==5.9.5
Pyro4==4.82
pytest==7.3.2
PyYAML==6.0
requests==2.31.0
serpent==1.41
tomli==2.0.1
tqdm==4.65.0
update-checker==0.18.0
urllib3==2.0.3
websocket-client==1.5.3
wget==3.2
xmltodict==0.13.0
pyblock==0.6
-e MineDojo-PDDL # git+ssh://git@github.com/IretonLiu/MineDojo-PDDL.git@6be3df45dc775250b826f99db9195cabf61fdecf#egg=minedojo&subdirectory=../../MineDojo-PDDL
